<div class="container">
<h3>{{titulo}} </h3>

<div>
Nome: <input  class="form-control" type="text" [(ngModel)]="cliente.nome"> <br/>

Email: <input  class="form-control" type="text" [(ngModel)]="cliente.email"> <br/>



Empresa: <input  class="form-control" type="text" [(ngModel)]="cliente.empresa"> <br/>

Rua: <input  class="form-control" type="text" [(ngModel)]="cliente.rua"> <br/>

Número: <input  class="form-control" type="text" [(ngModel)]="cliente.numero"> <br/>

Complemento: <input class="form-control" type="text" [(ngModel)]="cliente.complemento"> <br/>

Telefone: <input class="form-control" type="text" [(ngModel)]="cliente.telefone"> <br/>

<button value="Salvar" (click)="salvar()" type="button" class="btn btn-default btn-lg btn-block">Salvar</button>
<button value="Cancelar" (click)="cancelar()" type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>


</div>
</div>